*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    font-family: times new roman, georgia, serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #ccccff;
}

p{
    margin-bottom: 16px;
    text-indent: 1.5em;
}

header {
    background-color: #ffff99;
    height: 40px;
}

header h1 {
    float: left;
    font-family: times new roman, georgia, serif; 
    font-size: 22px;
    font-weight: 500;
    padding: 10px; /* TRouBLe */
}

header nav {
    float: left;
    margin-top: 12px;
}

header a {
    color: #330066;
    margin-right: 20px;
    text-decoration: none;
}

header a:hover {
    color: #838B8B;
}
header a:active {
    text-decoration: underline;
}
header a:focus {}

article {
    clear: both;
    padding: 0 10px 0 10px;
}

article img {
    width: 20%;
    float: left;
}

article h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

article h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
    margin-top: 10px;
}

article h3 {
    font-size: 18px;
    line-height: 28px;
}

article ul {
    margin-top: 4px;
    margin-bottom: 4px;
    text-indent: 1.5em;
}

article li {
    text-indent: 1.5em;
}

footer {
    float: right;
    font-size: 12px;
    padding: 0px 10px 0 10px; 
}

@media screen and (max-width: 600px) {
    
    body{
        padding: 5%;
        text-align: center;
        line-height: 24px;
    }
    
    nav {
        text-align: center;
    }
    
    header h1{
        margin-left: 5%;    
    }
    
    article h1 {
        margin-left: 5%;
    }
        
    article h2 {
        margin-left: 5%;
    }
    
    article p {
        margin-left: 5%;
        width: 90%;
        text-indent: 0em;
        text-align: justify;
    }
    
    article img {
        float: center;
        margin-left: 5%;
    }
    
    article iframe {
        width: 100%;
    }
}
