*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    font-family: times new roman, georgia, serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #ccccff;
}

p{
    margin-bottom: 16px;
    text-indent: 1.5em;
}

header {
    background-color: #ffff99;
    color: #ffffff;
    height: 44px;
}

header h1 {
    float: left;
    font-family: times new roman, georgia, serif; 
    font-size: 22px;
    font-weight: 500;
    padding: 10px; /* TRouBLe */
}

header nav {
    float: left;
    margin-top: 12px;
}

header a {
    color: #330066;
    margin-right: 20px;
    text-decoration: none;
}

header a:hover {
    color: #ffffff;
}
header a:active {
    text-decoration: underline;
}
header a:focus {}

article {
    clear: both;
    padding: 0 10px 0 10px;
}

article h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 4px;
}

article img {
    width: 20%;
    float: left;
}

article h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
    margin-top: 10px;
}

article h3 {
    font-size: 18px;
    line-height: 28px;
}

article ul {
    margin-top: 4px;
    margin-bottom: 4px;
    text-indent: 1.5em;
}

article li {
    text-indent: 1.5em;
}

footer {
    float: right;
    font-size: 12px;
    padding: 0px 10px 0 10px; 
}